<%=form_for footer do |f|%>
  <%=hidden_field_tag(:project_id, project.identifier) %>
  <p><%= f.label :footer %></p>
  <p><%= f.text_area :footer, required: true, style: "width: 100%"%></p>
  
  <p><%=f.submit%></p>
<%end%>