<div class="contextual">
  <% if !@query.new_record? && @query.editable_by?(User.current) %>
  <%= link_to l(:button_contacts_edit_query), edit_crm_query_path(@query, :object_type => "operation"), :class => 'icon icon-edit' %>
  <%= link_to l(:button_contacts_delete_query), crm_query_path(@query, :object_type => "operation"), :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %>
  <% end %>
  <%= link_to_if_authorized l(:label_operation_new), {:controller => "operations", :action => "new", :project_id => @project}, :class => 'icon icon-add' %>
  <%= link_to_if_authorized l(:label_crm_import), { :controller => 'operation_imports', :action => :new, :project_id => @project }, :class => 'icon icon-import', :id => 'import_from_csv' %>
</div>

<% html_title(@query.new_record? ? l(:label_operation_plural) : @query.name) %>

<h2><%= @query.new_record? ? l(:label_operation_plural) : h(@query.name)  %></h2>


<%= form_tag({ :controller => 'operations', :action => 'index', :project_id => @project }, :method => :get, :id => 'query_form') do %>
<%= hidden_field_tag 'set_filter', '1' %>
<%= hidden_field_tag 'object_type', 'operation' %>
<div id="query_form_content" class="hide-when-print">
  <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
    <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div style="<%= @query.new_record? ? "" : "display: none;" %>">
      <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
    </div>
  </fieldset>
  <fieldset class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <table>
        <tr style="<%= 'display: none;' if operations_list_style != 'list' %>">
          <td><%= l(:field_column_names) %></td>
          <td><%= render_query_columns_selection(@query) %></td>
        </tr>
        <% if operations_list_style == 'list' %>
        <tr>
          <td><label for='group_by'><%= l(:field_group_by) %></label></td>
          <td><%= select_tag('group_by',
                             options_for_select(
                               [[]] + @query.groupable_columns.collect {|c| [c.caption, c.name.to_s]},
                               @query.group_by)
                     ) %></td>
        </tr>
        <% end %>
        <%= call_hook(:view_operations_index_query_options, :operations => @operations, :query => @query) %>
        <tr>
          <td><label for='operations_list_style'><%= l(:label_crm_list_partial_style) %></label></td>
          <td><%= select_tag('operations_list_style', options_for_select(operation_list_styles_for_select, operations_list_style)) %></td>
        </tr>
      </table>
    </div>
  </fieldset>
</div>
<%= render :partial => "crm_calendars/buttons" if operations_list_style == 'crm_calendars/crm_calendar' %>

<p class="buttons hide-when-print">
  <%= link_to_function l(:button_apply), 'submit_query_form("query_form")', :class => 'icon icon-checked' %>
  <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
  <% if @query.new_record? && User.current.allowed_to?(:save_operations_queries, @project, :global => true) %>
      <%= link_to_function l(:button_save),
                           "$('#query_form').attr('action', '#{ @project ? new_project_crm_query_path(@project) : new_crm_query_path }'); submit_query_form('query_form')",
                           :class => 'icon icon-save' %>

  <% end %>
</p>
<% end %>

<%= error_messages_for 'query' %>
<% if @query.valid? %>
  <div id="contact_list" class="operation_list">
  <% if @operations.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render :partial => operations_list_style %>
    <span class="pagination"><%= pagination_links_full @operations_pages, @operations_count %></span>
  <% end %>
  </div>
  <% other_formats_links do |f| %>
      <%= f.link_to 'CSV', :url => params %>
  <% end %>
<% end %>

<%= javascript_tag "$('.operation_list tr.operation.planned-operation:last').addClass('last');" %>
<%= context_menu url_for( {:controller => "operations", :action => "context_menu"} )%>

<% content_for :sidebar do %>
  <%= render :partial => 'accounts/stat' %>
   <%= render_sidebar_crm_queries('operation') %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag :finance, :plugin => 'redmine_finance' %>
  <%= stylesheet_link_tag :contacts, :plugin => 'redmine_contacts' %>
  <%= javascript_include_tag :finance, :plugin => 'redmine_finance'  %>
  <meta name = "format-detection" content = "telephone=no">
<% end %>

